@using PagedList
@using PagedList.Mvc
@model Tuple<List<Category>, IPagedList<Product>>

<h1 style="color:green">@TempData["HesapAktif"]  </h1>

@section Kategoriler{
    @foreach (Category item in Model.Item1)
    {

        <li>
            @Html.ActionLink(item.CategoryName, "GetByCategory", new { item.ID }, new { @class = "btn btn-primary" })

        </li>

    }

}


<div id="OzelUrunler">
    <div style="float:right">
        @Html.PagedListPager(Model.Item2, page => Url.Action("FiltreKeywordUrunleri", new { keyword=ViewBag.Keyword,fiyat=ViewBag.Fiyat,page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions
   {
       InsertionMode = InsertionMode.Replace,
       HttpMethod = "Get",
       UpdateTargetId = "OzelUrunler"
   }))
    </div> <br /> <br /> <br /> <br /> <br />


    <div class="row product-list">
        @foreach (Product item in Model.Item2)
        {
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="~/Pictures/55736533_2073213799392633_2182034688506331136_n.png" />

                        <a href="@Url.Action("AddToCart","Member",new {id=item.ID })" class="adtocart">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                @item.ProductName |@item.Category.CategoryName
                            </a>
                        </h4>
                        <p class="price">$@item.UnitPrice</p>
                    </div>
                </section>
            </div>
        }


    </div>  <div style="float:right">
        @Html.PagedListPager(Model.Item2, page => Url.Action("SearchProduct", new { keyword=ViewBag.Keyword,page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions
{
 InsertionMode = InsertionMode.Replace,
 HttpMethod = "Get",
 UpdateTargetId = "OzelUrunler"
}))
    </div>
</div>
<script>
    $(function () {
        $("#slider-range a").mouseup(function () {

            var spanValue = $("#slider-range-amount").text();
            var keyword = $("#txtSearch").val();
            $.ajax({
                url: "http://localhost:59157/Member/FiltreKeywordUrunleri",
                type: "Get",
                data: { fiyat: spanValue, keyword: keyword },
                success: function (gelenSayfa) {
                    $("#OzelUrunler").html(gelenSayfa);
                }
            })
        })




    })
</script>
