@using PagedList
@using PagedList.Mvc
@model Tuple<List<Category>, IPagedList<Product>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="color:green">@TempData["HesapAktif"]  </h1>

<h1 style="color:red">@TempData["message"]</h1>
<h1 style="color:red">@TempData["odeme"]</h1>
@section Kategoriler{
    @foreach (Category item in Model.Item1)
    {

        <li>
            @Html.ActionLink(item.CategoryName, "GetByCategory", new { item.ID }, new { @class = "btn btn-primary" })

        </li>

    }

}


        <div id="OzelUrunler">
            <div style="float:right">
                @Html.PagedListPager(Model.Item2, page => Url.Action("Index", new { page }))
            </div> <br /> <br /> <br /> <br /> <br />


            <div class="row product-list">
                @foreach (Product item in Model.Item2)
                {
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                <img src="~/Pictures/55736533_2073213799392633_2182034688506331136_n.png" />

                                <a href="@Url.Action("AddToCart","Member",new {id=item.ID })" class="adtocart">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a href="#" class="pro-title">
                                        @item.ProductName
                                    </a>
                                </h4>
                                <p class="price">$@item.UnitPrice</p>
                            </div>
                        </section>
                    </div>
                }

                <div style="float:right">
                    @Html.PagedListPager(Model.Item2, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
<script>
    $(function () {
        $("#slider-range a").mouseup(function () {
           
            var spanValue = $("#slider-range-amount").text();
            
            $.ajax({
                url: "http://localhost:59157/Member/FiltreliUrunler",
                type: "Get",
                data: { item: spanValue },
                success: function (gelenSayfa) {
                    $("#OzelUrunler").html(gelenSayfa);
                }
            })
        })
        var tempkey = $("#txtSearch").val();
        $("#txtSearch").keyup(function () {
           
            var keyword = $("#txtSearch").val(); 
            $.ajax({
                
                url: "http://localhost:59157/Member/SearchProduct",
                type: "Get",
                data: { keyword: keyword },
                success: function (donenVeri) {
                    if (keyword.length === 0 && tempkey!="") {
                         
                            window.location = "/Member/Index";
                        
                        
                        
                    }
                   
                    else if (keyword != "") {
                        tempkey="bosdegil"
                        $("#OzelUrunler").html(donenVeri);

                    }
                    else if(tempkey == "") {

            }
                }
            })
        })



    })
</script>